.logo-placeholder{
    width: 100%;
    height: 70px;
    background-color: #4B69D2;
}
.side-menu {
    background: #5776E1;
    position: fixed;
    height: 100%;
    width: 60px;
    z-index: 24;
    overflow: hidden;
    transition: width 0.5s;
    z-index: 20;
    color: white;
    border-style: none solid none none;
    border-width: 1px;
    margin-top: -73px;
}

.side-menu .menu-icon {
    margin-right: 10px;
    text-align: right;  
    margin-top: 10px;
}
.side-menu:hover .menu-icon {
    margin-left: 10px;
    text-align: left;
    transform: rotate( 180deg );
    /* transition: all .5s ease-in-out;; */
    /* animation: rotation 2s infinite linear; */

}

.side-menu:hover {
    width: 230px;
}
.side-menu:hover .sidemenu-body{
    width: 230px;
}
/* .side-menu i{
    font-size: x-large;
    color:#0069d9;
    width: 30px;
} */
/* .side-menu span:hover{
    color: #007bff!important;
} */

.sidemenu-body{
    white-space: nowrap;
    overflow: hidden;
        width: 35px;
    cursor: pointer;
    margin-left: 10px;
}
.ReasLogo{
    margin-top: 6px;
    max-width:200px;
    max-height:90px;
    background-color: transparent   ;
  }
 