@import './styles/index.css';

.App {
  background-color: #E5E5E5;
}
 

@media (prefers-reduced-motion: no-preference) {
 
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.h-100{
  height: 100%;
}
i{
  cursor: pointer;
  padding: .2rem;
}